

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

@keyframes rodapeImagemAnim {
    0%{height: 0%;}
    100%{height: 20%;}
}

@keyframes zoom {
    0%{z-index: 1;}

    100%{z-index:2;clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);}
}
body{
    padding : 0;
    margin : 0;
    background-color: #161A1D;
}

.principal{
    background-color: #161A1D;
    width: 100%;
    height: 200vh;
    
}
.cabecalho {
    width: 100%;
    height: 10%;
    background-color: #0B090A;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

.cabecalhoBorda{
    width: 25%;
    height: 100%;
    /* border: 3px solid #A4161A; */
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 50%;
}
.cabecalhoBorda2{
    width: 25%;
    height: 100%;
    /* border: 3px solid #A4161A; */

    display: flex;
    align-items: center;
    
}

.cabecalhoMeio{
    width: 33%;
    display: flex;
    justify-content: space;
    align-items: center;
}

.logoTexto{
    width: 100%;
    height: 100%;
    color: white;
    font-size:40px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition : 1s;
}

.logoTexto:hover, .logoTexto img{
    transform: scale(1.1);
    transition : 1s;
    cursor: pointer;
}

.divDivisoria{
    width: 100%;
    height: 15%;
    background-color: #161A1D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

.divDivisoriaMetade,.divDivisoriaMetade2{
    width: 75%;
    height: 30%;
   
    flex-direction: row;
    display: flex;
    justify-content: center;
   
    
}
.divDivisoriaMetade2{
    
    background-color: rgba(255, 255, 255, .95);
    height: 50%;
    font-family: 'Quattrocento', serif;
    font-size: 30px;
    
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 30px 5px black;

    font-weight: lighter;
    align-items: center;
}


.botoesDivDivisoria{
    width: 25%;
    height: 55%;
    
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 1%;
    

    margin-bottom: 2.5%;
    font-family: 'Quattrocento', serif;
   
    font-size: 20px;
    cursor:pointer;
    transition: .1s;
    text-shadow: 1px 1px 3px #0B090A;
    border-bottom: 5px solid white ; 
    
}

.botoesDivDivisoria img{
    
    padding: 4%;
    
}

.botoesDivDivisoria:hover{
    border-bottom: 10px solid white ; 
    
}

.fundoGradiente{
    background-color: #A4161A;
    
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to bottom,#E5383B , #A4161A,#660708);
    display: flex;
    justify-content: center;
 
}
.metadeGradiente{
    color:white;
    width: 55%;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
 
    
    
}

.metadeGradienteRodape{
    
    
   
    padding: 1%;
    margin-bottom: 1%;
    height: 5%;
    
    position: absolute;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, #0B090A,#161A1D);
    color: white;
    
}
.metadeGradienteRodapeTexto,.metadeGradienteRodapeTexto2{
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    color: white;
 
    margin-left: 5%;
    font-size: 20px;
    
}
.metadeGradienteRodapeTexto2{
    
    font-size: 10PX;
}

.metadeGradienteMetade{
    height: 100%;
    width: 50%;
   
    display: flex;
    overflow: hidden;
}

.gradienteTitulo{
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: 'Quattrocento', serif;
    text-transform: 5px;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.7), transparent);
    backdrop-filter: blur(4px);
    font-size: 60px;
    height: 20%;
    width: inherit;

    align-items: center;
}
.gradienteDescricao{
    display: flex;
    position: absolute;
    top: 40%;
    font-size: 20px;
    border-bottom: 2px solid white;
}
.metadeGradiente2{
    width :45%;
   
    
    height: 100%;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

.carrinhoContent{
    display : flex;
   
    width: 90%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.carrinho{
    width: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--cor-fundo);
   
}

.carrinhobtn{
    width: 5%;
    position: absolute;
    height: 100%;
    background-color: #E5383B;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}




.rodape {
    width:100%;
    height: 75px;
    position: fixed;
    
    
    background-color: #A4161A;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition: 1s;
    z-index: 2;
}
.rodape:hover{
    height: 90px;
    
}

.containerImagens{
    width: 100%;
    transform: scale(.85);
    height: 50%;
    opacity: 0%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}

.fundoImagens{
    width: 20%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 10px 20px 5px black;

}

.cabecalhoImagens{
    width: 100%;
    height: 20%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
   
    color: #660708
}
.descricaoImagens{
    width: 100%;
    height: 10%;
    font-size: 12.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Quicksand', sans-serif;
    
    color: #660708;
    
}

.divDiagonal{
    width: 20%;
    height: 75%;
    background-color: white;
    clip-path: polygon(0% 0, 100% 0%, 0% 100%, 0 100%);
    position: absolute;
    display: flex;
    transition: 2s;
}
.divDiagonal img,.divDiagonalInv img{
    display: block;
    transition: 2s;
}

.divDiagonalInv{
    width: 100%;
    height: 75%;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    transition: 2s;
    
}
.divDiagonalInv:hover img{
    transform: scale(1.2); 
   
}
.divDiagonal:hover img {
    transform: scale(1.2);
    
}
.divDiagonalInv:hover,.divDiagonal:hover{
    z-index: 1;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}
h{
    border-bottom: 2px solid #A4161A;
    font-weight: lighter;
}
h2{
    font-weight: lighter;
    font-size: 20px;
    
}

.rodapeImage{
    width: 100%;
    height: 15%;
    background-image: linear-gradient(to bottom, #A4161A ,#660708);


    display: flex;
    align-items: end;
    justify-content: center;
    align-items: center;
    color: white;
   

}
.rodapePreco{
    width: 100%;
    height: 20%;
    background-color: white ;
 

    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color:#660708 ;
    font-size: 20px;
    display: none;
    font-weight: lighter;
    animation-name: rodapeImagemAnim;
    
    transition: 1s;
    animation-duration: 1s;
}
.rodapeImage:hover + .rodapePreco{
    display: flex;
    transition: 2s;
}

.descontosContent{
    width: 200%;
    height: 30%;
    display: flex;
    border: 2px solid white;
    top: 30%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
}

.descontos{
    width: 20%;
    height: 50%;
    background-color: white;
   
    overflow:visible ;
    
}
.descontosPreco{
    width: 50%;
    height: 20%;
    background-color: #E5383B;
    position: relative;
    top: 100%;
    left: 50%;
    z-index: -1;

}

.descontoImg{
    display: flex;
    width: 50%;
    height: 50%;
    background-color: #E5383B ;
}



.carrinho .carrinho-item .imagem {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

:root {
    --cor-primaria: #660300;
    --cor-secundaria: #2a2f43ea;
    --cor-fundo: #f5f5f5;
}



.carrinho .cabecalho-carrinho {
    display: flex;
}

.cabecalho-carrinho{
    
}

.carrinho .cabecalho-carrinho button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    line-height: 50%;
    color: var(--cor-primaria);
    background-color: #ddddde50;
    border: 2px solid #ddddde;
    border-radius: 8px;
}

.carrinho .cabecalho-carrinho button:hover {
    color: #fff;
    background: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.carrinho .cabecalho-carrinho h3 {
    margin: auto;
    text-align: center;
    font: 400 1.5rem 'Poppins';
    color: var(--cor-primaria);
}

.carrinho .carrinho-item {
    position: relative;
    display: flex;
    width: 100%;
    margin: 30px 0;
    background: #fff;
    border-radius: 8ox;
    box-shadow: 0 4px 18px #2a2f430f;
}

.carrinho .carrinho-item .imagem {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.carrinho .carrinho-item img {
    width: 100%;
}

.carrinho .carrinho-item .info {
    width: 65%;
    padding: 14px;
}

.carrinho .carrinho-item h4{
    color: var(--cor-primaria);
    font: 700 1.25rem 'Poppins';
}

.carrinho .carrinho-item .detalhes{
    display: flex;
    gap: 10px;
}

.carrinho .carrinho-item .detalhes i {
    color: #2a2f43d2;
    font-size: 1.0625rem;
    transform: translate(3px);
}

.carrinho .carrinho-item .detalhes span {
    font: 600 0.75rem 'Poppins';
    color: #2a204399;
}

.carrinho .carrinho-item .preco {
    color: var(--cor-secundaria);
    font: 700 1.125rem 'Poppins';
    margin-top: 8px;
}

.carrinho .carrinho-item .contador {
    position: absolute;
    right: 15px;
    bottom: 0;
}

.carrinho .carrinho-item .contador i {
    cursor: pointer;
    width: 25px;
    height: 35px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    background: var(--cor-primaria);
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.carrinho .carrinho-item .contador span {
    margin: 0 0px;
    font: 700 1rem 'Poppins';
    color: var(--cor-secundaria);
}
.carrinho{
    overflow: auto;
}

.carrinho .pagar {
    font: 500 1rem 'Poppins';
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    padding: 15px 0;
    color: #fff;
    background: var(--cor-primaria);
    border-radius: 8px;
    transition: 1.5s;
}

.carrinho .pagar:hover {
    background: rgb(150, 0, 0);
}

.divTeste{
    width: 100%;
    height: 10%;
    display: flex;
}

.cabecalho-carrinho{
    flex-direction: column;
}

.imagem{
    margin-left: 12.5%;
    overflow: hidden;
    display: flex;
}
.metadeImagem{
    width: 50%;
    height: 60%;
    align-items: center;
    display: flex;
    overflow: hidden;
}



.seila{
    display: flex;
    flex-direction: column;
}
