@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #d3d3d3;
  transition: .2s;
  border: none;
  
}

body {
  background-image: url('../img/cinema.jpg');
  
  background-size: cover;
  background-position-y: -200px;
}

textarea:focus, input:focus {
  outline: none;
}

a {
  font-size: .8rem;
}

a:hover {
  color: rgb(150, 0, 0);
}

.caixa-principal {
 
  margin-left: auto;
  margin-right: auto;
  width: 400px;
   padding: 20px 30px;
  margin-top: 10vh; 
  border-radius: 8px;
  background-image : linear-gradient(to bottom, #161A1D, #0B090A);
  text-align: center;
  /* border: solid 2px rgb(9, 41, 56); */
  
}


.cabecalho-caixa{
  width: 100%;
  height: 20%;
  display: flex;
  background-color: #161A1D;
}

form { /*div do formulario (senha e email) */
  margin-top: 20px;
  margin-bottom: 20px;
  
}

h2{
  color: white;
}

label, /* cores da etiqueta(email e senha) */
input {
  display: block;
  width: 100%;
  text-align: left;
  color: white;
  
}

label {  /* formatação etiqueta */
  font-weight: bold;
  font-size: .8rem;
}

input {  /*linha do email e da senha */
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  display: block;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: #161A1D;
}

input:focus { /* hover da linha do email e da senha*/
  border-bottom: 2px solid rgb(150, 0, 0);
}

.esquece_a_senha {
  display: block;
  text-align: right;
}

.submit{
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  color: #FFF;
  background-color:  rgb(186, 0 , 1);
  font-weight: bold;
  font-size: 15px;
}

.submit:hover{
  background-color: rgb(88, 1 , 0);
  transition: .5s;
}

.social-container {
  margin-bottom: 10px;
}

.social-container p {
  margin-bottom: 10px;
}


.social-container i {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  margin: 0 5px;
  color: #161A1D;
  background-color: white;
}
/* Cabecalho(Texto) do login */
.card-header{
  display: flex;
  font-size: 15px;
  justify-content: center;
}
/* Textos acima do Input (Usuario/Senha) */
.card-content label {
  color: white;
  font-size: 12px;
  opacity: 0.8;
}

/* Container do esqueceu a senha, do botao entrar, e do voltar. */
.card-footer{
  display: flex;
  flex-direction: column;
  height: 10%;
}

.recuperar_senha {
  display : flex;
  justify-content: right;
}

.containerTroca{
  display: flex;
  width: 100%;
  padding: 5%;
  margin-top: 5%;
  align-items: center;
  justify-content: space-between;
  background-color: #161A1D;
  background-image : linear-gradient(to bottom, #161A1D, #0B090A);
}

.trocaBotoes{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 5%;
  height: 100%;
  background-color: #0B090A;
  transition: .5s;
  cursor: pointer;
}

.trocaBotoes:hover{
  transform: scale(1.1);
  transition: .5s;
}

p{
  margin-top: 5%;
}

.rt,.pd{
  display: none;
}



