@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


body,html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161A1D;
    
}

/* - Fundo principal - */
.principal {
    
    width: 100%;
    height:100vh;
    
    background-color: #161A1D;
}

.cabecalho{
    
    width: 100%;
    height: 12.5%;
    background: linear-gradient(-45deg,  #6a040f, #370617, #03071e);
    background-size: 400% 400%;
    font-family: "Cairo", sans-serif;
}

.cabecalhoBorda{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: 2s;
}

.cabecalhoBorda img:hover{
    transform: scale(1.25);
    transition: 1s;
}

.menu{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image : linear-gradient(to top, #0B090A,#161A1D);
    
   
}

.botoes{
  
    height: 100%;
    width: 15%;
   
    color: #D3D3D3;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color : #161A1D;
    
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    font-size: 12.5px;
    transition: 1s;

}

.botoes:hover{
    
    margin-top: 3%;
    height: 103%;
    transition: 1s;
}

.quadPlanos,.quadConta,.quadFaleConosco,.quadSeguranca,.quadTermosUso{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-image : linear-gradient(to bottom, #0B090A,#161A1D)
}

.content{
    display: flex;
    
    width: 100%;
    height: 100%;
}

/** Planos **/

.quadPlanos{
    justify-content: space-around;

    
    
}

.caixaPlanos , .caixaPlanos2{
    display: flex;
    align-items: center;

    width: 30%;
    background-color: #161A1D;
    height: 80%;
    overflow: hidden;
    border-radius: 50px;
    flex-direction: column;
}
.caixaPlanos2{
    width: 60%;
}

.cabecalhoCP{
    width: 100%;
    height: 10%;
    overflow: hidden;
    
    display: flex;
    align-self: baseline;
   
    background-color: white;
}

.planoImg{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoPlano,.textoRestante{
    position:absolute;
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-left: 12.5%;
    color: white;
}

.textoRestante{
   display: flex;
   font-size: 15px;
   margin-left: 0%;
}

.boxTempo{
    width: 90%;
    margin-top: 5%;
    height: 10%;
    display: flex;
    border-bottom: 2px solid white;
}

.tempoRestante{
    background-image: linear-gradient(to left, #A4161A ,#660708);
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoProlongar{
    width: 60%;
    height: 10%;
    margin-top: 5%;
    background-image: linear-gradient(to left, #A4161A ,#660708);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cairo", sans-serif;
    font-weight: 500;
    font-size: 25px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
}

/** Conta **/

.quadConta{
    justify-content: space-around;
    display: flex;
}

.caixaConta,.caixaConta2{

    display: flex;
    align-items: center;

    width: 20%;
    background-color: #161A1D;
    height: 80%;
    overflow: hidden;

    flex-direction: column;

}

.caixaConta2{
    width: 60%;
    justify-content: center;
    align-items: center;

}

.perfilFundo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #D3D3D3;
}

.perfil{
    width: 50%;
    height: 65%;
    border-radius: 50%;
    background-color: white;
    display: flex;
    
    justify-content: center;
    overflow: hidden;
}

.botaoMudar{
    width: 60%;
    height: 10%;
    margin-top: 5%;
    background-image: linear-gradient(to left, #A4161A ,#660708);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "Cairo", sans-serif;
}

.caixaNome{
    width: 90%;
    height: 10%;
   
    
    border: 2px solid white;
    align-items: center;
    color: white;
    display: flex;
}

h1{
    font-size: 10px;
    font-family: "Cairo", sans-serif;
    margin-left: 10px;
    font-weight: normal;
}

.nome{
    background-color: #A4161A;
    border: 2px solid #A4161A;
    height: 5%;
    width: 30%;
    margin-top: 10%;
    margin-right: 60%;
    color: white;
    font-size: 12.5px;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
}

.informacoesPessoais{
    width: 60%;
    height: 15%;
    
    color: white;
    font-size: 32.5px;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;

    margin-left: 5%;
    margin-top: 2.5%;
}

.caixaConta2{
    justify-content: baseline;
    align-items: baseline;
    color: white;
}

.caixaEmail,.caixaTelefone{
    height: 20%;
    width: 90%;
    margin-top: 2.5%;
    display:flex;
    
}

.email{
    height: 100%;
    width: 35%;
    font-size: 21px;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    color: white;
    display: flex;
    align-items: center;
    justify-self: center;
    border-right: 5px solid #A4161A;
    
}

.emails{
    height: 60%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-family: "Cairo", sans-serif;
    
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.emails img{
    filter: invert();
}

.emails:hover{
    background-color: #0B090A;
    opacity: 0.5;
    transition: 1s;
}

/** Fale Conosco **/

.caixaFaleConosco{
    height: 80%;
    width: 40%;
    background-color: #161A1D;
    display: flex;
    border-radius: 5%;
    justify-content: baseline;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
 
}

.cabecalhoFaleConosco{
    width: 60%;
    height: 20%;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top, #161A1D,#0b090a);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Cairo", sans-serif; 
    font-size: 30px;
}

textarea:focus, input:focus{
    outline: none;
}

.mBox{
    width: 90%;
    height: 50%;
    border: 2px solid white;
    color: white;
}

.nBox{
    width: 90%;
    height: 10%;
    margin-top: 5%;
    color: white;
}


.centro
{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    border: 2px solid white;
}

.caixaMudar{
    display: none;
    z-index: 2;
    width: 50%;
    height: 20%;
    position: absolute;
    align-self: center;
    justify-self: center;
    

    justify-content: center;
    align-items: center;
    padding: 1%;
    flex-direction: column;
    background-image: linear-gradient(to top, #161A1D,#0b090a);
}

.cabecalhoMudar{
    width: 100%;
    height: 30%;
    color: white;
    font-family: "Cairo", sans-serif;
    font-size: 15px;
    background-color: #161A1D;
    display: flex;
    align-items: center;
    padding-left: 1%;

}

input{
    outline: none;
    border: none;
    height: 20%;
    width: 95%;
    padding: 1%;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid white;
}

.x{
    background-color: #A4161A;
    width: 1.5%;
    height: 10%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cairo", sans-serif;
    font-size: 10px;
    left: 92.5%;
    position: absolute;
    transition: 1s;
}

.x:hover{
    background-color: transparent;
    background-color: #660708;
    transition: 1s;
}
.botao{
    width: 20%;
    height: 30%;
    background-color: #A4161A;
    margin-top: 1%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Cairo", sans-serif;
}

.quadTermosUso{
    flex-direction: column;
    justify-content: space-between;
    
}

.regra{
    background-image : linear-gradient(to bottom, #0B090A,#161A1D);
    width: 100%;
    height: 15%;
    display: flex;
    margin-top: 3%;
}