@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



*{
    font-family: "Cairo", sans-serif;
    font-weight: lighter;
}

body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0B090A;
    font-family: "Cairo", sans-serif;
}

/* - Fundo principal - */
.principal {
    
    width: 100%;
    height:100vh;
    font-family: "Cairo", sans-serif;
    background-color: #0B090A;
}

.cabecalho{
    
    width: 100%;
    height: 12.5%;
    background-color: #660708;
    font-family: "Cairo", sans-serif;
}


.menu{
    width: 100%;
    height: 10%;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161A1D;
    font-weight: lighter;
  
}

.botoes{
  
    height: 100%;
    width: 15%;
   
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #161A1D;
    
    transition: 2s;

}

.botoes:hover{
    
    margin-top: 3%;
    height: 103%;
    transition: 2s;
}

.quadPlanos,.quadConta,.quadFaleConosco,.quadSeguranca,.quadTermosUso{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #0B090A;
}

.chay{
    display: flex;
    width: 100%;
    height: 100%;
}

.faleConosco{
    background-color: #161A1D;
    width: 50%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
    align-items: center;
}

.cabecalhoFaleConosco{
    width: 100%;
    height: 10%;
    background-color: #D3D3D3;

}

.fotoContent{
    height: 50%;
    width: 100%;
    display: flex;
    border-bottom: 10px solid white;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}

.perfil{
    width: 20%;
    height: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
}
